{% extends 'base.html.twig' %}

{% block title %}PlatformBundle index{% endblock %}

{% block body %}
    <h1>PlatformBundle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for platform_bundle in platform_bundles %}
            <tr>
                <td>{{ platform_bundle.id }}</td>
                <td>
                    <a href="{{ path('platform_bundle_show', {'id': platform_bundle.id}) }}">show</a>
                    <a href="{{ path('platform_bundle_edit', {'id': platform_bundle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('platform_bundle_new') }}">Create new</a>
{% endblock %}
