<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Platforme d'annonces
			{% endblock %}
		</title>
		{% block stylesheets %}
			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
			{{ encore_entry_link_tags('app') }}

			<!-- Renders a link tag (if your module requires any CSS)
						                 <link rel="stylesheet" href="/build/app.css"> -->
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			{{ render(controller('App\\Controller\\AdvertController:menuAction'))}}
		</nav>
		<div class="container mt-5"> {% block body %}{% endblock %}
			</div>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}

				<!-- Renders app.js & a webpack runtime.js file
								                <script src="/build/runtime.js"></script>
								                <script src="/build/app.js"></script> -->
			{% endblock %}
		</body>
	</html>
